export(bf.c,
       bf.c.o,
       bf.o,
       bf1,
       bf2,
       describe.post,
       dirichlet.c,
       dirichlet.o,
       draw.bf,
       draw.post
       )
importFrom("graphics","axis","legend","lines","matplot","par",
           "plot","points","title")
importFrom("stats","density","dnorm","dt","pnorm","pt","qnorm",
           "qt","rbeta","rgamma","rnorm","runif","var")
S3method(print,dir.cond)
S3method(print,dir.ord)
